<div class="section-one">
    <div class="section-title">
        <h1><i>Fake Flwrs</i> is a solo project by singer, songwriter & musician <i>Suzie Zeldin</i></h1>
    </div>
    <div class="section-desc">
        <p>I write honest music about my own life experiences. Most of my writing is done before 6:30am, before my two kids wake up. I am currently working on a solo album and releasing music with my band, The Narrative.</p>
    </div>
    <div class="btn-section">
        <button class="btn-one">Listen On Spotify</button>
        <button class="btn-two">Connect With Me</button>
    </div>
</div>
<div class="section-two">
   <img src="assets/music.jpeg" />
</div>
